body {
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  
  input[type="file"],
  input[type="text"] {
    display: flex;
    width: 400px;
    padding: 10px;
    margin: 10px 0;
  }

  /* .container {
      display: flex;
      justify-content: center;
    } */

  button {
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }

  .container-2 {
    margin-left: 1000px;
    margin-top: -310px;
  }

  .generate-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }